@tailwind base;
@tailwind components;
@tailwind utilities;


.ripple {
    /* margin: auto;
    margin-top: 5rem; */
    /* background-color: #fff; */
    /* width: 1rem;
    height: 1rem; */
    border-radius: 5%;
    /* display: grid; */
    animation: ripple 2s linear infinite;
  }
  

  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 .1rem rgba(255, 255, 255, 0.6);
    }
    100% {
      box-shadow: 0 0 0 1.2rem rgba(255, 255, 255, 0);
    }
  }

  .slider-wrapper{
    display: flex!important;
    justify-content: center!important;
  }
